html {
    height: 100%;
    box-sizing: border-box;
  }
body {
    background-image: url("https://subtlepatterns.com/patterns/contemporary_china.png");
    font-family: 'Lustria', serif;
  }

body > .container {
    margin-bottom: 80px;
}

/* style for api elements */
.api-Elements {
    color: black;
    padding: 7px;
    margin: 1px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 0px .2px darkblue;
    background-color: white;
    position: relative;

}
.custom-toggler.navbar-toggler{
    color:green;
    background: white;
}

/*footer*/
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 70px;
    width: 100%;
    padding: 20px;
    background-color: #060925;
    color: white;
    text-align: center;
}

/*Nav Menu title */
  .navbar-brand {
    padding: 2px;
    font-size: 22px;
    font-family: 'Lustria', serif;
}
/*Nav Menu */
  .nav {
    width: 100%;
    background-color: #060925;
    border-radius: 1px;
    box-shadow: 1x 1px 1px 1px black;
    font-family: 'Lustria', serif;
}
.nav a {

    text-align: center;
    font-size: 29px;
    font-family: 'Lustria', serif;
    padding: 4px 10px 8px 14px;
}
.nav a hover {
    color: white;
}
.nav-tabs {
 
    height: 70px;
    font-size: 22px;
    font-family: 'Lustria', serif;
    box-shadow: 1px 1px 1px 1px white;

}
li active {
    background-color: #b3b3b3;
    color: white;
}
a {
    color: whitesmoke;

}
.active {
    color: #007bff;
}
a:hover {
    color: #46B209;
}
a:active {
    color: whitesmoke;
}
      
.header {
    align-content: center;
    text-align: center;
    background-color: #060925;
    
    padding: 15px;
    margin: 0px;
    margin-top:5px;

    color: white;
}
.search-form {
    border: .5px solid #F5ECE8;

}
.form-group {
    padding: 5px;
}
.button-holder {
    padding: 5px;
}
.results-form {
    margin-top: 10px;
}
 #clear {
    background-color: #46B209;
    border: 1px solid #46B209;
    padding-left: 7px;
    padding-right: 7px;
 }
 #clear:hover {
    background-color: #3C9908;
    border: 1px solid #3C9908;
 }
 .fa-spinner {
     color: #3C9908;
 }

/* Matt Firebase Login/Registration API Styling */
.emsg{
    color: red;
}
.hidden {
     visibility:hidden;
}

#register {
    padding: 5.5px;
    background-color: #46B209;
    border-width: 2px;
    border: 1px solid #46B209;;
}
#register:hover {
    background-color: #3C9908;
    border-width: 2px;
    border: 1px solid #3C9908;;
}
.col-12 {
    margin-top: 75px;
}


#log-in {
    margin: 8px;
}

#my-form {
    padding: 6px;
}

/* Styling for favorite heart  */
.fa-heart {
   position: absolute;
   top: 10px;
   right: 10px;
   color: #46B209;
}